/* src/pages/User/Search.css */
.common-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(135deg, #f5af19, #f12711); /* Matching orange gradient from Register.css */
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .welcome-message {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .common-title {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .common-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .common-input {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
  }
  
  .common-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }
  
  .common-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .common-button:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
  }
  
  .common-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .common-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .common-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .common-container li {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .common-container li h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .common-container li p {
    font-size: 1em;
    margin: 5px 0;
  }
  